#categoryButtons button,
#levelButtons button {
  display: block;
  width: 100%;
  padding: 20px 0;
  margin: 10px 0;

  background-color: #0066cc;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;

  border: none;
  border-radius: 8px;
  cursor: pointer;

  transition: background-color 0.2s ease;
}


body {
  background: hotpink;
}

